h1, h2 {
    color: #290480;
}
  
h1 {
   text-align: center;
}

img {
    padding:10px;
}
  
  th, td {
    /*border-color: #801704;
    border-style: solid;
    border-width: 3px;*/
    border: #7A7673 ridge 3px;
    padding: 8px;
  } /* top, right, bottom, left*/
  
  table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  
  a:link {
    color: #801704;
    font-weight: bold;
    text-decoration: none;
  }
  
  a:hover {
    color: #7A7673;
  }
  
  p.paragraph {
    color: #FFFFFF;
    background-color: #7A7673;
    width: 400px;
    padding: 10px;
    border: #290480 dashed 5px;
    margin: 40px;
  }
  
  div {
    background-color: #7A7673;
    width: 646px;
    padding: 15px;
    border: #290480 groove 5px;
    margin: 50px;
  }
  
  body {
    padding: 20px;
    font-size: larger;
    background-color: #f5edc4;
  }
